.bluebox{
	background-color: #3ca2e0;
	color: #ffffff;
}
.bluebox center{
	padding: 35px;
}
.contact{
	background-color: rgba(255, 232, 0, 1);
	position: relative;
}
.contact ul{
	list-style-type: none;
	position: relative;
	left: 200px;
}
.contact ul li {
    float: left;
    padding: 15px;
}
