#Options -Indexes
IndexOptions FancyIndexing

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine On

# Handle requests for "View Only Page"
RewriteRule ^([A-Za-z0-9-]+)/?$    index.php?page=$1    [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)?$    index.php?page=$1&type=$2    [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)?$    index.php?page=$1&type=$2&user=$3    [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)?$    index.php?page=$1&type=$2&user=$3&id=$4    [NC,L]
