#Options -Indexes
IndexOptions FancyIndexing

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Handle requests for "View Only Page"
RewriteRule ^([A-Za-z0-9-]+)/?$    index.php?type=$1    [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$    index.php?type=$1&method=$2    [NC,L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$    index.php?type=$1&method=$2&id=$3    [NC,L]
